@using Entities.Concrete
@model List<Category>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Kategoriler</h3>

            
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Kategori</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                            <th>Başlıklar</th>
                       
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.CategoryID</td>
                            <td>@item.CategoryName</td>
                     
                            <td><a href="/Category/DeleteCategory/@item.CategoryID" class="btn btn-danger">Sil</a></td>
                            <td><a href="/Category/UpdateCategory/@item.CategoryID" class="btn btn-success">Güncelle</a></td>
                            <td><a href="/Category/CategoryHeadings/@item.CategoryID" class="btn btn-info">Başlıklarına bak</a></td>
                        </tr>

                        }
                    </tbody>
                </table>
                
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

<a href="/Category/AddCategory/" class="btn btn-primary">Yeni Bir Kategori Ekle</a>

