
<section class="stats py-lg-5 py-4" id="stats">
    <div class="gallery-inner container py-md-5 py-4">
        <div class="row mt-lg-5 stats-con text-white">
            <div class="col-sm-3 col-6 stats_info counter_grid">

                <i class="fas fa-lightbulb"></i>
                <p class="counter">@ViewBag.categoryCount</p>
                <h4>Aktif Açılan Kategori Sayısı</h4>

            </div>
            <div class="col-sm-3 col-6 stats_info counter_grid1">

                <i class="far fa-lightbulb"></i>
                <p class="counter">@ViewBag.headingCount</p>
                <h4>Aktif Açılan Başlık Sayısı</h4>

            </div>
            <div class="col-sm-3 col-6 stats_info counter_grid">

                <i class="fas fa-lightbulb"></i>
                <p class="counter">@ViewBag.contentCount</p>
                <h4>Aktif Yazılan İçerik Sayısı</h4>

            </div>
            <div class="col-sm-3 col-6 stats_info counter_grid2">

                <i class="far fa-smile"></i>
                <p class="counter">@ViewBag.writerCount</p>
                <h4>Aktif Yazar Sayısı</h4>

            </div>
        </div>
    </div>
</section>